html {
    box-sizing: border-box;

}
  *, *:before, *:after {
    box-sizing: inherit;
    user-select: none;
}
.calculator {
    position: relative;
    left: 40vw;
    top: 5vw;
    border: 8px double rgb(49, 49, 99);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 25em;
    align-content: flex-start;
    gap: 6px;
    padding: 0px 6px 6px 6px;
}
.display {
    font-size: 52px;
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 8px 8px 8px 8px;
    margin-bottom: 12px;
}
.input {
    padding: 4px 4px 4px 4px;
    border: 2px solid rgb(29, 156, 230);
    border-radius: 6px;
    height: 80px;
}
.button {
    border: 1px solid rgb(135, 104, 170);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    width: 5em;
    height: 5em;
}
.pressed {
    transition: .07s;
    transform: scale(1.1);
}